<div class="tarjeta">
  <div class="contenedor-arriba">
    <div class="info-text">
      Mi saldo
      <div class="saldo-info">$100 </div>
    </div>
    <div class="circulo1">
      <div class="circulo2"></div>
    </div>
  </div>
  
  <div class="numero-tarjeta">
    {{ ocultarNumeroTarjeta(tarjeta.numero) }}
  </div>

  <div class="contenedor-info-abajo">
    <div class="info-text">
      Titular tarjeta
      <div class="info-tarjeta">{{tarjeta.titular}}</div>
    </div>

    <div class="info-text">
      Valida hasta
      <div class="info-tarjeta">
        {{convertirFecha(tarjeta.fechaVencimiento) }}
      </div>
    </div>
  </div>
</div>