<div class="grid-container">
  <h1 class="title">Inicio</h1>
  <div class="minicards-container">
    <app-credit-card *ngFor="let tarjeta of user.tarjetas" [tarjeta]="tarjeta"
      [balance]="user.balance"></app-credit-card>
    <app-stock titulo="Ingresos" balance="45,741"></app-stock>
    <app-stock titulo="Egresos" balance="32,123"></app-stock>
  </div>
  <div class="chart-transactions-container">
    <div class="chart-container">
      <mat-card class="text-balance">
        Balance
        <app-balance-chart></app-balance-chart>
      </mat-card>
    </div>
    <div class="transactions-container">
      <mat-card class="text-transactions">Ultimas transacciones
        <app-transactions *ngFor="let transaccion of user.transaccionesSalientes"
          [transaccion]="transaccion"></app-transactions></mat-card>
    </div>
  </div>
  <div>
    <app-fees></app-fees>
  </div>
</div>