.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  height: 100%;
}

.grid-container > * {
  padding: 10px;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  padding: 15px;
  align-self: flex-start;
}

.minicards-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px;
  align-items: center;
}

.chart-transactions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 5px;
}

.chart-container,
.transactions-container {
  grid-column: span 1;
}

.text-transactions {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.text-balance {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
mat-card {
  border-radius: 2rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .minicards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .minicards-container > * {
    margin: 10px;
  }

  .chart-transactions-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .text-transactions,
  .text-balance,
  .mat-h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 320px) {
  .text-transactions,
  .text-balance,
  .mat-h1 {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .grid-container {
    grid-gap: 10px;
  }
}
