.container {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  height: 110vh;
}

.dashboard {
  background-color: #f2f2f2;
  width: 100%;
  padding-left: 3rem;
}

.text-inicio {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 10;
}

.container-tarjetas {
  padding-top: 4rem;
  display: flex;
  gap: 1rem;
  position: relative;
  margin-bottom: 2rem;
}



.container-transactions {
  background-color: #ffffff;
  width: 40%;
  height: fit-content;
  border-radius: 2rem;
  padding-inline: 1.3rem;
  padding-block: 1.3rem;
}

.text-transactions {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.container-bottom {
  display: flex;
  gap: 1rem;
}


.container-balance {
  background-color: #ffffff;
  width: 45%;
  height: fit-content;
  border-radius: 2rem;
  padding-inline: 1.3rem;
  padding-block: 1.3rem;
}

.text-balance {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}



.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}