.text-transactions {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.text-balance {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
  background-color: #f2f2f2;
  height: 100%;
}

.chart-transactions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin: 5px;
}

.chart-container,
.transactions-container {
  grid-column: span 1;
}

.mat-h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: absolute;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .chart-transactions-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {

  .text-transactions,
  .text-balance,
  .mat-h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 320px) {

  .text-transactions,
  .text-balance,
  .mat-h1 {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }

  .grid-container {
    grid-gap: 10px;
  }
}