table {
  width: 100%;
}

.mat-header-cell {
  background: gainsboro;
  border: none;
  font-size: 15px;
}

.mat-cell,
.mat-header-cell {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.mat-table {
  overflow: hidden !important;
}

.btn-pay {
  display: inline-block;
  padding: 10px 20px;
  background-color: #252f69;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-pay:hover {
  background-color: #5D95BE;
}

.more-button {
  background-color: transparent;
  border: none;
  transform: rotate(90deg);
}

.more-button mat-icon {
  transform: rotate(180deg);
  vertical-align: middle;
}

@media (max-width: 600px) {
  .mat-header-cell,
  .mat-cell {
    padding: 2px; 
    font-size: 10px; 
  }
  
  .btn-pay {
    padding: 8px 8px; 
  }
  
  .more-button {
    display: inline-block;
    padding: 4px;
  }


}
