table {
  width: 100%;
}
.mat-header-cell {
  background: gainsboro;
  border: none;
  font-size: 15px;
}
.mat-cell,
.mat-header-cell {
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.mat-table {
  overflow: hidden !important;
}
