<table mat-table [dataSource]="dataSource" class="mat-elevation">
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="montoTotal">
    <th mat-header-cell *matHeaderCellDef>Monto Total</th>
    <td mat-cell *matCellDef="let element">$ {{ element.montoTotal }}</td>
  </ng-container>

  <ng-container matColumnDef="cuotas">
    <th mat-header-cell *matHeaderCellDef>Cuotas</th>
    <td mat-cell *matCellDef="let element">{{ element.cuotas }}</td>
  </ng-container>

  <ng-container matColumnDef="fechaEmision">
    <th mat-header-cell *matHeaderCellDef>Fecha de emision</th>
    <td mat-cell *matCellDef="let element">{{ element.fechaEmision }}</td>
  </ng-container>

  <ng-container matColumnDef="mensual">
    <th mat-header-cell *matHeaderCellDef>Mensual</th>
    <td mat-cell *matCellDef="let element">$ {{ element.mensual }}</td>
  </ng-container>
  <ng-container matColumnDef="tasaInteres">
    <th mat-header-cell *matHeaderCellDef>Tasa de interes</th>
    <td mat-cell *matCellDef="let element">{{ element.tasaInteres }}</td>
  </ng-container>

  <!-- Columna para el botón de estado -->
  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button class="btn-pay">{{ element.estado }}</button>
    </td>
  </ng-container>

  <!-- Nueva columna para el botón con menú desplegable -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Ver Mas</button>
        <button mat-menu-item>Borrar</button>
      </mat-menu>
    </td>
  </ng-container>

  <!-- ... (columnas previas) ... -->

  <!-- Nueva columna añadida a la fila de encabezado (matHeaderRowDef) -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

  <!-- Nueva columna añadida a cada fila de la tabla (matRowDef) -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" (click)="selection.toggle(row)">
  </tr>
</table>