.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-search {
  display: flex;
  padding-left: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.round-button {
  border: 1px solid #fff;
  color: #fff;
  padding: 0.3rem 0.4rem;
  border-radius: 100vh;
  margin-right: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .navbar {
    gap: 0.5rem;
  }

  .navbar-search {
    display: flex;
    padding-left: 0rem;
    flex: 1;
    justify-content: flex-start;
  }

  .search-bar {
    padding-block: 0.3rem;
    padding-left: 0.5rem;
    width: 50%;
  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0px;
    font-size: 14px;
  }

  .round-button {
    padding: 0rem 0rem;
    margin-right: 0.3rem;
    background-color: transparent;
  }
}
