<div class="section">
  <div class="container">
    <div class="form">
      <div class="left-side">
        
        <div class="content">
          <h5>Bienvenidos a <span class="unicomer">Unicomer</span></h5>
        </div>
      </div>
      <div class="right-side">
        <div class="logo">LOGO</div>
        <form #f="ngForm" (ngSubmit)="onLogin()" class="forms" novalidate>

          <div class="form-inputs">
            <label for="tipoDocumento">Tipo de documento</label>
            <select id="tipoDocumento" name="tipoDocumento" [(ngModel)]="tipoDocumento" required>
              <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>
          <div class="form-inputs">
            <label for="nroDocumento">Número de documento</label>
            <input type="text" id="nroDocumento" name="nroDocumento" [(ngModel)]="nroDocumento" required/>
          </div>
          <div class="form-inputs">
            <label for="password">Clave</label>
            <input id="password" class="password-input" type="password" name="password" [(ngModel)]="password" required/>
          </div>
          
          <ul class="strength-list">
            <li>
              <span class="error"> {{errorMsj}} </span>
            </li>
          </ul>
          <div class="submit-button"><input type="submit" /></div>
          <div class="keyboard-container">
            <button class="keyboard">⌨ Teclado Virtual</button>
          </div>

        </form>

        <div class="register">
          ¿No tienes cuenta? <a class="highlight" href="/register">Regístrate aquí</a>
        </div>
      </div>
    </div>
  </div>
</div>