@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

.section .container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden
}

.section .container .form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex
}

.section .container .left-side {
    width: 55%;
    background-color: #040387;
    height: 100%
}

.section .container .left-side .content {
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-align: center;
    margin-top: 50%;
}

.section .container .left-side .content h5 {
    font-size: 19px
}

/**** Right side ****/

.section .container .right-side {
    width: 45%;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

.section .container .right-side .forms {
    padding-right: 20px;
    width: 100%
}

.section .container .right-side .forms label {
    font-size: 16px;

}

.section .container .right-side .forms input {
    width: 100% !important;
    height: 45px;
    border: none;
    margin-bottom: 10px;
    padding: 0px 10px;
    border: 2px solid #eee;
    transition: all 0.5s;
    background-color: #e8f0fe;
    border-radius: 3px;
    outline: none;
    box-shadow: none
}

.section .container .right-side .forms input[type="submit"] {
    width: 100%;
    background-color: #040387;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    text-transform: uppercase
}

.section .container .right-side .forms input[type="submit"]:hover {
    background-color: #020242
}

.submit-button {
    width: 110%
}

.section .container .right-side .forms input:focus {
    border: 2px solid #000 !important
}

.strength-list {
    margin-left: 5px;
    list-style: none;
    margin-bottom: 5px
}

.form-inputs {
    position: relative;
    width: 100% !important
}

.form-inputs i {
    position: absolute;
    top: 14px;
    right: -10px;
    color: #dbdada;
    z-index: 1000
}

.list-group i {
    font-size: 10px;
    color: #aaa
}

.list-group span {
    font-size: 11px;
    color: #aaa;
    letter-spacing: 1px;
}

.green-color {
    color: green !important
}

.random_password {
    margin-top: 5px;
    letter-spacing: 1px;
    font-size: 11px;
    cursor: pointer
}

@media (max-width:750px) {
    .section .container {
        max-width: 350px
    }

    .section .container .left-side {
        display: none
    }

    .section .container .right-side {
        width: 100%
    }
}