<div class="section">
  <div class="container">
    <div class="form">
      <div class="left-side">
        <div class="content">
          <h5>Bienvenidos a Unicomer</h5>
        </div>
      </div>
      <div class="right-side">
        <div class="forms">
          <div class="form-inputs">
            <label for="username">Tipo de documento</label>
            <input type="text" placeholder="Tipo de Documento" />
            <i class="fa fa-user"></i>
          </div>
          <div class="form-inputs">
            <label for="username">Número de documento</label>
            <input type="text" placeholder="Número de documento" autocomplete="chrome-off" />
            <i class="fa fa-envelope"></i>
          </div>
          <div class="form-inputs">
            <label for="username">Clave</label>
            <input
              id="password_input"
              class="password-input"
              autocomplete="chrome-off"
              type="password"
              placeholder="Clave"
            />
            <i class="fa fa-eye" id="password_eye"></i>
            <p id="random_password" class="random_password"></p>
          </div>
          <ul class="strength-list">
            <li>
              <span class="loweruppercase list-group">
                <i class="fa fa-circle"></i> <span>Errores</span>
              </span>
            </li>
            
          </ul>
          <div class="submit-button"><input type="submit" /></div>
        </div>
      </div>
    </div>
  </div>
</div>
