<div class="transactions-table">
    <table class="table-layout" aria-label="Elements">
      <tbody>
        <tr>
          <td>{{transaccion.usuarioDestinatario.nombre}} {{transaccion.usuarioDestinatario.apellido}} </td>
          <td> $ {{transaccion.monto}}</td>
          <td class="fecha-hora">
            <span>{{convertirFecha(transaccion.fecha).fechaFormateada}}</span>
            <small>{{convertirFecha(transaccion.fecha).horaFormateada}}</small>
          </td>
          <td>{{transaccion.motivo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  