/* Estilos para el contenedor principal */
.stock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 2rem;
    margin-left: 1rem;
    padding: 1rem;
  }

  .ingreso-icon {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  /* Estilos para el círculo azul */
  .circle {
    background-color: #252f69;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
  }

  .material-icons {
    font-size: 18px;
    color: #fff;
  }
  
  .ingresos {
    font-size: 16px;
    font-weight: bold;
  }
  
  .ingresos-monto {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
  
  
  